<div class="c-block-hero-bkg" style="background: url({{ imgHero.src }}) top center fixed; background-size: 50%; width: 100%;">
  <div class="c-block-hero__headline">
    <h2>{{ headline.short }}</h2>
    <h4>{{ headline.medium }}</h4>
    <a class="transparent-btn btn" href="{{ company.url }}{{ link.pages-about }}" title="Meet Valerie">Meet Valerie</a>
  </div>
  <!-- end c-block--hero-->
</div>