<footer class="c-footer" role="contentinfo">

  <div class="container">
    <div class="row">
      <div class="col-md-4">{{> molecules-logo-footer-link }}</div>
      <div class="col-md-4">
        <h3>Stay Connected</h3>
        <div class='social-media'>
          <div class='icon social fb'><a class="sm-social-icon" title="Facebook" target="_blank" href="https://www.facebook.com/"><i class='fa fa-facebook'></i></a>

          </div>
          <div class='icon social in'><a class="sm-instagram-icon" title="Instagram" target="blank" href="https://www.instagram.com/"><i class='fa fa-instagram'></i></a></div>
          <div class='icon social in'><a class="sm-instagram-icon" title="LinkedIn" target="blank" href="https://www.linkedin.com/"><i class='fa fa-linkedin'></i></a></div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Contact Informaton</h3>
        <address>
          1234 Test Drive<br />
          Sacramento, CA 000000<br />
          Phone: (916) 123-4567
        </address>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="copyright">&copy; {{ year }} {{ company.name }}. All rights reserved.</p>
      </div>
    </div>
  </div><!-- container-->

</footer><!-- end c-footer -->