<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align:center">Valeries Hobbies</h2>
      <ul class="c-tout-list g g-3up">
        {{# toutList }}
          <li class="c-tout-list__item gi">
            {{> molecules-block-tout }}
          </li>
          {{/ toutList }}
      </ul>
      <!--end tout-list-->
    </div>
  </div>
</div>