{{> organisms-header }}
<main role="main" class="container">
  {{# alert }}
    {{> molecules-alert }}
    {{/ alert }}

    {{# sectionBlock }}

      {{> organisms-tile-grid }}

      {{/ sectionBlock }}

      <div class="row">
        <div class="col-md-12">
          {{# teaser }}
            {{> organisms-section-teaser }}
            {{/ teaser }}
        </div>
        <!--end col-md-12-->
      </div>
      <!--end row-->
</main>
{{> organisms-footer }}