<article class='article'>
  <div class="teaser">
    <a href="{{ company.url }}{{ url }}">
      {{> atoms-square:c-block-media__img }}

      <div class='date-block'>
        <div class='date'>{{ date.day }}<span>{{ date.month }}</span></div>
      </div>

      <h2>{{ headline.short }}</h2>
      <div class='content'>
        <div class='teaser-body'>
          <p class="c-block-media__excerpt">{{ excerpt.long }}</p>
        </div><!-- end teaser-body -->
      </div><!-- end content -->
    </a><!-- end c-block-media -->
  </div><!-- end teaser -->
</article>