<ul class="sg-colors">
  <li>
    <span class="sg-swatch alert-success">
      <span class="sg-label">
        <span class="bold">$alert-success</span><br />
        HEX: #DBEED6<br />
        RGB: 219, 238, 214
      </span>
    </span>
  </li>
  <li>
    <span class="sg-swatch alert-secondary">
      <span class="sg-label">
        $alert-secondary<br />
        HEX: #E9E9E9<br />
        RGB: 233, 233, 233
      </span>
    </span>
  </li>
  <li>
    <span class="sg-swatch alert-danger">
      <span class="sg-label">
        $alert-danger<br />
        HEX: #F7D2E0<br />
        RGB: 247, 210, 224
      </span>
    </span>
  </li>
</ul>