{{> organisms-header }}
<main role="main" class="fluid-container">

  {{# hero }}
    {{> molecules-block-hero }}
    {{/ hero}}

    <div class="light-gray-bkg">
      <div class="container section">
        <div class="row">
          <div class="col-md-12">
            <h1>About Valerie</h1>
            <p>Valerie Rose is a professional and licensed life and business coach, as well as a certified personal trainer. She is specialized in helping her clients achieve their personal and business goals by improving their capability, productivity, and consistency. Motivating and mentoring her clients with self-esteem building, personal development, and business building. She has a passion for helping others,
              which is why she chose to be a coach. Her hobbies include working out, hiking, swimming, and camping.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container section">
      <div class="row">
        <div class="col-md-12">
          {{> organisms-tout-list }}
        </div>
      </div>
    </div>
</main>
{{> organisms-footer }}